fastapi
uvicorn
streamlit
pandas
numpy
scikit-learn
imbalanced-learn
shap
joblib
matplotlib
seaborn
Pillow
requests
python-dotenv
sqlalchemy
python-jose
bcrypt
passlib
python-multipart
google-generative-ai